@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BillysWebsite.Models
@{
    List<AppointmentType> appointmentTypes = (List<AppointmentType>)ViewData["appointmentTypes"];
}

<div class="table-responsive">
    <table id="AppointmentTypeTable" class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Start time</th>
            <th scope="col">Days</th>
            <th scope="col">Duration</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
        </tr>
        @if (appointmentTypes != null && appointmentTypes.Count > 0)
        {
            foreach (var appointmentType in appointmentTypes)
            {
                string color = new string(appointmentType.Color);
                decimal price = Math.Round(appointmentType.Price, 2);
    <tr>
        <td>@appointmentType.Name</td>
        <td>@appointmentType.StartTime.ToString(@"hh\:mm\:ss")</td>
        <td>@appointmentType.DaysOfWeek</td>
        @if (appointmentType.DurationType == AppointmentType.DURATION_TYPE.HOURS)
        {
            <td>@appointmentType.Duration Hours</td>
        }
        else
        {
            <td>@appointmentType.Duration Minutes</td>
        }
        <td style="background-color:#@color"></td>
        @if (price == 0)
        {
            <td>FREE</td>
        }
        else
        {
            <td>@price</td>
        }
        <td>@Html.ActionLink("Delete", "DeleteAppointmentType", null)</td>
    </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">No appointent types exist</td>
            </tr>
        }
    </table>
    <div class="float-right">
        @Html.ActionLink("Add", "AddAppointmentType", "Admin", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>

@section scripts{
    <script src="~/js/Preferences.js"></script>
}
