
@{
    ViewData["Title"] = "ViewAppointment";
    Appointment appointment = (Appointment)ViewData["appointment"];
    string imagePath = (string)ViewData["imagePath"];
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="cl-lg-12 cl-md-12 cl-sm-12 cl-xs-12">
                Appointment for: @appointment.FirstName @appointment.LastName
            </h1>
        </div>
        <div class="row">
            <h2 class="cl-lg-12 cl-md-12 cl-sm-12 cl-xs-12">
                @appointment.StartDate.ToString("ddd, d/MMM/yyyy")
            </h2>
        </div>
        <div class="row">
            <h2 class="cl-lg-12 cl-md-12 cl-sm-12 cl-xs-12">
                @appointment.StartDate.ToString("h:mmtt") - @appointment.EndDate.ToString("h:mmtt")
            </h2>
        </div>
        <div class="row">
            <h4 class="cl-lg-6 cl-md-6 cl-sm-6 cl-xs-6">Email:&nbsp;</h4>
            <h4 class="cl-lg-6 cl-md-6 cl-sm-6 cl-xs-6">@appointment.Email</h4>
        </div>
        <div class="row">
            <h4 class="cl-lg-6 cl-md-6 cl-sm-6 cl-xs-6">Date of birth:&nbsp;</h4>
            <h4 class="cl-lg-6 cl-md-6 cl-sm-6 cl-xs-6">@appointment.DateOfBirth.ToString("d/MMM/yyyy")</h4>
        </div>
        <div class="row">
            <img class="img-fluid img-thumbnail rounded" src="@imagePath" alt="@appointment.FileDescription" />
        </div>
        <div class="row">
            <h4 class="cl-lg-12 cl-md-12 cl-sm-12 cl-xs-12">
                Description: @appointment.Description
            </h4>
        </div>
    </div>
</div>

